header{
    background-color: purple;
    height: 80px;
    width: 100vw;
    font-size: 50px;
    text-align: center;
    position: fixed;
    opacity: 100%;
    z-index: 2;
}
main{
    position: relative;
    top: 100px;
}