* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}
.title{
  font-family: 'Dancing Script', cursive;
  color: aqua;
  font-size: 50px;
  margin: 15px 0 20px 0;
}
.body{
  max-width: 70vw;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.avatar__container{
  width: 180px;
  height: fit-content;
  margin: 3px 15px 3px 3px;
}
.princess-item{
  display: flex;
  flex-direction: row;
  border: 1px solid aqua;
}
.image-avatar{
  width: 150px;
  height: 150px;
}
.name{
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}
.description__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}
.friend{
  background-color:aqua;
}