<footer class="footer wrapper2">
  <div class="footer-move tablet">
    <img class="footer-img" src="./assets/images/brook-logo.png" alt="logo brook" title="logo">
    <nav class="see-tablet">
      <ul class="nav-footer1">
        <li class="title-bolder">About us</li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="footer-move contact desktop">
      <h2 class="h2-contact">Contact</h2>
      <span>2005 Stokes Isle Apt. 896.</span>
      <span>ana bille 10010. USA</span>
      <span>info@yourdomain.com</span>
      <span>(+68) 120034509</span>
      <div class="ssmm desktop">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fas fa-basketball-ball"></i></a>
        <a href="#"><i class="fab fa-pinterest"></i></a>
      </div>
    </div>
  </div>
  <div class="view-desktop footer-move">
    <nav class="nav-footer">
      <ul class="nav-footer2">
        <li><a href="#">Our blog</a></li>
        <li><a href="#">Latest projects</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </nav>
    <div class="copyright">
      <p>© 2020 Brook. All Rights Reserved.</p>
    </div>
  </div>
</footer>