<main class="main">
  <section class="hero-image wrapper2">
    <h1 class="hero">
      <span><span class="color-pink">- </span>This is Brook<span class="color-pink"> -</span></span>
      <span>A full-service</span>
      <span>Creative agency.</span>
    </h1>
  </section>
  <section class="we-do wrapper3">
    <article class="what-we-do">
      <h1 class="title">WHAT WE DO</h1>
      <p class="description">We design & build brand, campaigns & digital projects for businesses large & small.</p>
    </article>
  </section>
</main>