<section class="modern-design wrapper3">
    <article class="article-icons">
      <img class="image-icons" src="./assets/images/eye-icon.jpg" alt="imgAlt" title="@@titleImg">
      <h2 class="bold">Modern Design</h2>
      <p class="text-description">Brook embraces a modern look with various enhanced prefined page elements</p>
      <p class="bold2">More details <a href="#"><i class="fas fa-arrow-right ico"></i></a></p>
    </article>
    <article class="article-icons">
      <img class="image-icons" src="./assets/images/book-icon.jpg" alt="imgAlt" title="@@titleImg">
      <h2 class="bold">Modern Design</h2>
      <p class="text-description">Brook embraces a modern look with various enhanced prefined page elements</p>
      <p class="bold2">More details <a href="#"><i class="fas fa-arrow-right ico"></i></a></p>
    </article>
    <article class="article-icons align">
      <img class="image-icons" src="./assets/images/boxes-icon.jpg" alt="imgAlt" title="@@titleImg">
      <h2 class="bold">Modern Design</h2>
      <p class="text-description">Brook embraces a modern look with various enhanced prefined page elements</p>
      <p class="bold2">More details <a href="#"><i class="fas fa-arrow-right ico"></i></a></p>
    </article>
</section>