.main-contenedor{
    border: 1px solid red;
}

.column1, .column2{
    border: 1px solid red;
    display: inline-flex;
}

.one, .two, .uno, .dos{
    border: 1px solid red;
    width: 50%;
}

.imagen{
    display:flex;
    justify-content: center;
    overflow: hidden;
}

img, p, h1, h2{
    margin: 5px;
}

