/* HACER QUE SE DISTRIBUYAN HORIZONTALMENTE*/
/*.main-menu{
    height: 100px;
    border: 1px solid purple;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
}*/

/*TEXTOS CENTRADOS VERTICALMENTE EN EL CONTENEDOR*/
.main-menu{
    height: 100px;
    border: 1px solid purple;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
