:root{
    --primary-font: 'Rubik', sans-serif;
    --nav-color: #4a4a4a;
    --background-page: #3CDBC0;
    --color-body-text: #FFFFFF;
}

/*HEADER*/
.image{
    width: 155px;
    margin: auto;
}
.main-header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    background-color: white;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 13px;
}
.main-nav{
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
}
.nav{
    width: 100vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.nav li a{
    text-decoration: none;
    font-size: 16px;
    font-family: var(--primary-font);
    color: var(--nav-color);
    padding: 15px;
}

/*MAIN*/
.main-main{
    height: 100vh;
    background-color: var(--background-page);
    font-family: var(--primary-font);
    color: var(--color-body-text);
    font-weight: 700;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 91px;
}

@media all and (min-width: 768px){
    /*HEADER*/
    .main-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-nav{
        width: 50%;
    }
    .nav{
        display: flex;
        justify-content: flex-end;
    }
    li a{
        padding: 0px;
    }
    .blog{
        padding-right: 20px;
    }
    .image{
        width: 50%;
    }

    /*MAIN*/
    .main-main{
        font-size: 40px;
    }
}