.body{
    font-family: Arial, Helvetica, sans-serif;

}
.wrapper{
    max-width: 450px;
    padding-left: 10px;
    padding-right: 10px;
    height: 300px;
}
.padding{
    padding-bottom: 10px;
}
.padding2{
    padding-top: 10px;
    padding-bottom: 10px;
}
input{
    border-radius: 5px solid lightgrey;
}
.complete-name{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.name{
    width: 50%;
}
.input-name{
    display: flex;
    flex-direction: row;
}
.email, .re-email{
    display: inline-block;
}
.input1 {
    width: 100%;
    text-align: right;
}
.re-email{
    display: block;
    padding-top: 10px;
}
.input2{
    width: 100%;
}
.password{
    padding-top: 10px;
    display: block;
}
.input3 {
    width: 100%;
}
.small {
    font-size: x-small;
}
.blue{
    color: lightskyblue;
    display: inline;
}
.uses{
    padding-top: 10px;
    padding-bottom: 10px;
}
.birthday{
    display: inline;
}
.genero{
    padding-top: 10px;
    padding-bottom: 10px;
}
.button{
    padding-top: 10px;
}
.green{
    background-color: limegreen;
    color: white;
    font-size: bold;
    border-radius: 5px limegreen;
}
.number{
    padding-top: 10px;
    padding-bottom: 10px;
}
#flightoption1{
    display: block;
}
.text-name{
    display: block;
    width: 100vw;
}