.one{
    height:100px;
    width:100px;
    background-color: blue;
    display:inline-block;
}

.two{
    height:100px;
    width:100px;
    background-color: red;
    display:inline-block;
}

.three{
    height:100px;
    width:100px;
    background-color: orange;
    display:inline-block;
}