body{
    width: 100%;
}
.pdf{
    box-sizing: border-box;
    border: 1px solid red;
    padding: 5px;
    background-color: red;
    border-radius: 5px;
    position: relative;
    transform: translate(100wv);
    text-decoration: none;
    color: black;
}