
*{
    box-sizing: border-box;
    color: inherit;
}
:root{
    --primary-font: 'Montserrat', sans-serif;
    --primary-color: #CC212A;
    --light-color: white;
    --dark-color: black;
}
.body{
    color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    background-color: var(--light-color);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
}
.only-container{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 35px;
}
.main{
        display: flex;
        justify-content: center;
}
.only-container span{
    display: block;
    text-align: center;
}
.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.footer{
    width: 100vw;
    position: fixed;
    bottom: 0;
    border-top: 1.5px solid  var(--primary-color);
    line-height: 30px;
}
.div-letter{
    background-color:  var(--primary-color);
    font-size: 10px;
    color: var(--light-color);
    height: 30px;
    width: 30px;
    border-radius: 30px 30px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.copyright{
    padding-top: 18px;
    text-align: center;
    color: var(--dark-color);
    font-size: 10px;
    font-weight: lighter;
}

@media all and (min-width:768px){
    .div-letter{
        position: static;
        transform: none;
        padding-top: 2px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .footer .wrapper{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .copyright{
        padding-top: 2px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
}