.main-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: lightsalmon;
    text-align: center;
}

h2, h3{
    color: lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
}

.first-article{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.anuncios{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 15px;
}

.lenguajes{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

a{
    font-family: Arial, Helvetica, sans-serif;  
    color: black;
}

.main-footer{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-align: center;
}
