body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}
.header-item{
    background-color: grey;
    flex-basis: 20%;
    flex-grow: 2;
}
.main-item{
    background-color: lightblue;
    flex-basis: 60%;
    flex-grow: 6;
}
.footer-item{
    background-color: yellow;
    flex-basis: 20%;
    flex-grow: 2;
}
